# Ignore binaries.
/bin

# Ignore non-custom parts of Drupal.
/docroot/core
/docroot/modules/contrib
/docroot/profiles/contrib
/docroot/themes/contrib
/docroot/sites/*/files
/docroot/sites/*/settings.php
/docroot/sites/*/config/dev

# Ignore Composer-managed dependencies.
vendor/
composer.lock
.idea
